<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <title>Breakpoints</title>
</head>
<body>
    <h1 class="m-3 p2">Breakpoints</h1>
    <hr>
   <div class="text-center text-md-start text-xl-end">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam quaerat architecto illo voluptatum amet quae commodi ipsum, exercitationem aliquid omnis praesentium debitis esse incidunt id corporis veritatis facilis error ipsam fuga illum. Molestiae nisi nulla, eligendi numquam nihil, qui odio amet perspiciatis aperiam unde molestias? Eligendi, a unde! Molestiae reiciendis molestias veritatis repudiandae exercitationem voluptas commodi, expedita natus totam minima .
   </div>
    <h3><a class="m-3"href="/index.html">Voltar ao Início</a></h3>

    <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>